@import "tailwindcss";

/* :root {
  --background-rgb: 214, 219, 220;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
  }
} */

@theme {
  --font-sans: "Space Grotesk", sans-serif;
  --font-mono: "Space Mono", monospace;
}

body {
  background: var(--color-slate-950);
  color: var(--color-slate-100);
}
